{% extends "base.html" %} {% block title %}Upload{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Add measurements!</h1>
    <hr class="my-4">
    {% if emulator %}
    <div class="row">
        <div class="col">
            <h4>The yield of the experiment that you ran is:</h4>
        </div>
        <div class="col">
            <h4>{{ emulator_value }}</h4>
        </div>
    </div>

    {% endif %}
</div>
<form method="POST">
    <div class="row">
        <table class="data" style="border-collapse: collapse; width: 100%;">
            <thead>
                <tr>
                    {% for title in titles %}
                    <th style="border: 1px solid black; padding: 10px;">{{ title }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for index, row in df.iterrows() %}
                <tr>
                    {% for column in df.columns %}
                    <td style="border: 1px solid black;">{% if column == target_name %} <div
                            style="background-color: rgb(142, 142, 226);">
                            {{ row[column] }}</div> {% else %}{{ row[column] }}{% endif %}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}

                {% for index, row in recs.iterrows() %}
                <tr>
                    {% for column in recs.columns %}
                    <td style="border: 1px solid black; background-color: rgb(226, 142, 205);">
                        {% if column != 'iteration' and column != target_name %}
                        <input type="text" name={{ column }} id={{ column }} placeholder={{ row[column] }} />
                        {% elif column == target_name %}
                        <input type="text" name={{ column }} id={{ column }} />
                        {% else %}
                        {{ row[column] }}
                        {% endif %}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
    </br>
    <div class="row">
        <button type="submit" class="btn btn-primary btn-lg" name="action" value="submit_measurements">Submit
            measurements!</button>
    </div>
</form>

{% endblock %}