{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block content %}
<div class="jumbotron">
    <div class="row">
        <div class="col-md-8">
            <h1 class="display-4">web-BO</h1>
            <p class="lead">This is a simple GUI to support Bayesian Optimization</p>
            <hr class="my-4">
            <p>web-BO expects data of a certain format to perform. We strongly suggest exploring the example codes!</p>
            <p>To do this, press the button below!</p>

            <button type="submit" class="btn btn-primary btn-lg" data-toggle="modal"
                data-target="#exampleModalCenter">Explore!</button>
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title" id="exampleModalLongTitle">Welcome to Web-BO!</h2>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <h5>To help you get familiar with all that Web-BO has to offer, we will populate your first
                                Dataset and Experiment.</h5>
                            </br>
                            <p>
                                The Dataset is loaded from the <a href="https://github.com/aspuru-guzik-group/olympus"
                                    class="tooltip-test" title="Tooltip">Olympus package</a>.
                            </p>
                            <table class="table">
                                <tbody>
                                    <tr class="table-primary">
                                        <td>Dataset</td>
                                        <td>datset link</td>
                                    </tr>
                                    <tr class="table-info">
                                        <td>Experiment</td>
                                        <td>experiment link</td>
                                    </tr>
                                </tbody>
                            </table>
                            <p><a href="#" class="tooltip-test" title="Tooltip">This link</a> and <a href="#"
                                    class="tooltip-test" title="Tooltip">that link</a> have tooltips on hover.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <img src="{{ url_for('static', filename='logo.png') }}" class="img-thumbnail">
        </div>
    </div>
</div>

<div class="container">
    <div class="row g-5">
        <div class="col-md-6 border-right">
            <div class="col-md-12 alert alert-primary" role="alert">
                <h3 align="center">Datasets</h3>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-12 alert alert-info" role="alert">
                <h3 align="center">Experiments</h3>
            </div>
        </div>
    </div>
    <div class="row g-5">
        <div class="col-md-6 border-right">
            <div class="col-md-12">
                <ul class="list-group list-group-flush" id="datasets">
                    {% for data in user.datas %}
                    <a class="style-2 list-group-item list-group-item-active" type="submit"
                        value="select-dataset-{{ data.id }}">
                        <h4 class="d-flex align-items-center">
                            <i class="bi bi-database"></i>
                            <form method="POST" class="d-flex align-items-center" style="width: 100%;">
                                <div class="d-flex align-items-center" style="flex-grow: 1;">
                                    <button type="submit" class="close" name="action" value="viewdata-{{ data.name }}"
                                        style="padding-left: 15px;">
                                        <span>
                                            {{ data.name }}
                                        </span>
                                    </button>
                                </div>
                                <div class="ml-auto">
                                    <button type="button" class="close" onClick="deleteDataset({{ data.id }})"
                                        style="display: flex; justify-content: flex-end;">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </form>
                        </h4>
                    </a>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-12">
                <ul class="list-group list-group-flush" id="experiments">
                    {% for expt in user.expts %}
                    <a class="style-2 list-group-item list-group-item-active" type="submit"
                        value="select-experiment-{{ expt.id }}">
                        <h4 class="d-flex align-items-center">
                            <i class="bi bi-clipboard-data"></i>
                            <form method="POST" class="d-flex align-items-center" style="width: 100%;">
                                <div class="d-flex align-items-center" style="flex-grow: 1;">
                                    <button type="submit" class="close" name="action" value="viewexpt-{{ expt.name }}"
                                        style="padding-left: 15px;">
                                        <span>
                                            {{ expt.name }}
                                        </span>
                                    </button>
                                </div>
                                <div class="ml-auto">
                                    <button type="button" class="close" onClick="deleteExperiment({{ expt.id }})"
                                        style="display: flex; justify-content: flex-end;">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </form>
                        </h4>
                    </a>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

<br />
<form method="POST">
    <div class="row g-5">
        <div class="col-md-6">
            <div class="col-md-12" align="center">
                <button type="submit" class="btn btn-secondary" name="action" value="add-dataset">Add
                    Dataset</button>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-12" align="center">
                <button type="submit" class="btn btn-secondary" name="action" value="add-experiment">Add
                    Experiment</button>
            </div>
        </div>

    </div>
</form>

{% endblock %}