{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block content %}
<div class="jumbotron">
    <div class="row">
        <div class="col-md-8">
            <h1 class="display-4">web-BO</h1>
            <p class="lead">This is a simple GUI to support Bayesian Optimization</p>
            <hr class="my-4">
            <p>web-BO expects data of a certain format to perform. We strongly suggest exploring the example codes!</p>
            <p>To do this, press the button below!</p>

            <button type="submit" class="btn btn-primary btn-lg" data-toggle="modal"
                data-target="#exampleModalCenter">Explore!</button>
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title" id="exampleModalLongTitle">Welcome to Web-BO!</h2>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <h5>To help you get familiar with all that Web-BO has to offer, we provide an optimization
                                case study that takes advantage of existing reaction emulators to acquire the
                                experimental measurements.</h5>
                            </br>
                            <p>This case study concerns optimizing the coupling of 3-bromoquinoline with
                                3,5-dimethylisoxazole-4-boronic acid pinacol ester in the presence of
                                1,8-diazobicyclo[5.4.0]undec-7-ene (DBU) and THF/water, Figure 1. </p>
                            <div class="container">
                                <div class="col">
                                    <figure class="figure">
                                        <img src="{{ url_for('static', filename='reizman_reaction.png') }}"
                                            class="img-fluid" style="height: 75%">
                                        <figcaption class="figure-caption">Figure 1. Suzuki-Miyaura cross-coupling
                                            reaction involved in this case study.
                                        </figcaption>
                                    </figure>
                                    </br>
                                    <p>The parameter space involved in this optimisation task is detailed in Figure 2.
                                    </p>
                                    <figure class="figure">
                                        <img src="{{ url_for('static', filename='parameter_space.png') }}"
                                            class="img-fluid" style="height: 75%">
                                        <figcaption class="figure-caption">Figure 2. Parameter space spanned by this
                                            case study includes 3 continuous variables (catalyst loading, temperature,
                                            and residence time) and 1 categorical variable (catalyst).
                                        </figcaption>
                                    </figure>
                                    </br>
                                    <p>The catalyst options are presented in Figure 3.</p>
                                    <figure class="figure">
                                        <img src="{{ url_for('static', filename='catalyst_options.png') }}"
                                            class="img-fluid" style="height: 75%">
                                        <figcaption class="figure-caption">Figure 3. The catalyst options included in
                                            this study.
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                            <p>
                                This case study takes advantage of the experiment emulators offered by the <a
                                    href="https://github.com/sustainable-processes/summit" class="tooltip-test"
                                    title="Tooltip">Summit</a> package. Specifically, the <a
                                    href="https://gosummit.readthedocs.io/en/latest/experiments_benchmarks/implemented_benchmarks.html#cross-coupling-emulator-benchmarks"
                                    class="tooltip-test" title="Tooltip">Suzuki-Miyaura Cross Coupling Emulator</a>.
                            </p>
                            <p>We will populate your Datasets with the new `sample-reizman-suzuki` dataset!</p>
                            <p>When you close this popup, we'd recommend clicking on your new dataset to explore the
                                Dataset features!</p>
                        </div>
                        <div class="modal-footer">
                            <form method="POST">
                                <button type="submit" class="btn btn-secondary" name="action"
                                    value="add-sample-dataset">Add
                                    Dataset!</button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 bg-transparent">
            <img src="{{ url_for('static', filename='web-BO_logo.png') }}" class="img-thumbnail">
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <hr class="my-4">
            <div class="row">
                <div class="col-md-12">
                    <p>It might be a bit daunting to just dive in. We have provided a tutorial video for you to follow
                        in
                        order
                        to
                        get started.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a href="{{ url_for('home_dash.video_tutorial') }}" class="btn btn-info">Video tutorial</a>
                    <!--<button type="submit" class="btn btn-danger" name="action" value="video-tutorial">Video tutorial</button>-->
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <hr class="my-4">
            <div class="row">
                <div class="col-md-12">
                    <p>If you are looking for further explanations, the page below has got you covered!</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <!--<p>To watch it, select the button below</p>-->
                    <a href="{{ url_for('home_dash.explanations') }}" class="btn btn-info">Explanations</a>
                    <!--<button type="submit" class="btn btn-danger" name="action" value="video-tutorial">Video tutorial</button>-->
                </div>
            </div>
        </div>
    </div>
</div>

<div style="text-align: center;">
    <p>Like any predictive or suggestive tool, web-BO needs data to function. In order for web-BO to be able to provide
        suggestions for which conditions a researcher
        should try next (Experiments, below), it must first receive some prior data (Datasets, below). Please add a
        dataset for which you would like suggestions
        on which conditions to try next.</p>
</div>

<div class="container">
    <div class="row g-5">
        <div class="col-md-6 border-right">
            <div class="col-md-12 alert alert-primary" role="alert">
                <h3 align="center">Datasets</h3>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-12 alert alert-info" role="alert">
                <h3 align="center">Experiments</h3>
            </div>
        </div>
    </div>
    <div class="row g-5">
        <div class="col-md-6 border-right">
            <div class="col-md-12">
                <ul class="list-group list-group-flush" id="datasets">
                    {% for data in user.datas %}
                    <a class="style-2 list-group-item list-group-item-active" type="submit"
                        value="select-dataset-{{ data.id }}">
                        <h4 class="d-flex align-items-center">
                            <i class="bi bi-database"></i>
                            <form method="POST" class="d-flex align-items-center" style="width: 100%;">
                                <div class="d-flex align-items-center" style="flex-grow: 1;">
                                    <button type="submit" class="close" name="action" value="viewdata-{{ data.name }}"
                                        style="padding-left: 15px;">
                                        <span>
                                            {{ data.name }}
                                        </span>
                                    </button>
                                </div>
                                <div class="ml-auto">
                                    <button type="submit" class="close" name="action"
                                        value="remove-dataset-{{ data.id }}"
                                        style="display: flex; justify-content: flex-end;"><span
                                            aria-hidden="true">&times;</span></button>
                                </div>
                            </form>
                        </h4>
                    </a>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-12">
                <ul class="list-group list-group-flush" id="experiments">
                    {% for expt in user.expts %}
                    <a class="style-2 list-group-item list-group-item-active" type="submit"
                        value="select-experiment-{{ expt.id }}">
                        <h4 class="d-flex align-items-center">
                            <i class="bi bi-clipboard-data"></i>
                            <form method="POST" class="d-flex align-items-center" style="width: 100%;">
                                <div class="d-flex align-items-center" style="flex-grow: 1;">
                                    <button type="submit" class="close" name="action" value="viewexpt-{{ expt.name }}"
                                        style="padding-left: 15px;">
                                        <span>
                                            {{ expt.name }}
                                        </span>
                                    </button>
                                </div>
                                <div class="ml-auto">
                                    <button type="submit" class="close" name="action"
                                        value="remove-experiment-{{ expt.id }}"
                                        style="display: flex; justify-content: flex-end;"><span
                                            aria-hidden="true">&times;</span></button>
                                </div>
                            </form>
                        </h4>
                    </a>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

<br />

<div class="container mb-5">
    <form method="POST">
        <div class="row g-5">
            <div class="col-md-6">
                <div class="col-md-12" align="center">
                    <button type="submit" class="btn btn-secondary" name="action" value="add-dataset">Add
                        Dataset</button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-12" align="center">
                    <button type="submit" class="btn btn-secondary" name="action" value="add-experiment">Add
                        Experiment</button>
                </div>
            </div>

        </div>
    </form>
</div>

<hr />
<div class="container mt-5">
    <div class="alert alert-warning">

        <h2 align="left">Disclaimer</h2>

        <p>Web-BO is NOT a data storage solution; it is a data optimisation tool. For best practice, it is
            suggested
            to download your dataset after each iteration.</p>

    </div>
</div>
</span>

<div class="container mt-5">
    <div class="alert alert-info">
        <h2 align="left">Reset User</h2>
        <p>The web-BO database requires each Dataset and Experiment entry possesses a unique name.</p>
        <p>If you wish to reset the database associated with your user, please select the button below. <font
                color="#f57ab6"> (WARNING:
                this cannot be undone) </font>
        </p>
        <button type="button" class="btn btn-info" data-toggle="modal" data-target=".bd-example-modal-sm">Reset
            User</button>
    </div>
</div>
<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <h5>Are you sure you want to do this?</h5>
            <font color="#f57ab6"> You cannot undo this action. </font>
            <form method="POST">
                <button type="submit" class="btn btn-primary" name="action" value="reset-user">Yes. I am
                    sure.</button>
                <button type="submit" class="btn btn-secondary" name="action" value="take-me-home">No.</button>
            </form>
        </div>
    </div>
</div>

<form method="POST">
    <div style="text-align: right;">
        <button type="submit" class="btn btn-primary" name="action" value="logout">Logout</button>
    </div>
</form>
</br>
</br>

{% endblock %}