{% extends "base.html" %} {% block title %}Login{% endblock %}

{% block content %}
<div class="jumbotron">
    <div class="row">
        <div class="col-md-8">
            <h1 class="display-4">web-BO</h1>
            <p class="lead">This is a simple GUI to support Bayesian Optimization</p>
            <hr class="my-4">
            <p>web-BO expects data of a certain format to perform. We strongly suggest exploring the example codes</p>
            <form method="POST">
                <button type="submit" class="btn btn-primary btn-lg" name="action" value="explore">Explore!</button>
            </form>
        </div>
        <div class="col-md-4">
            <img src="{{ url_for('static', filename='logo.png') }}" class="img-thumbnail">
        </div>
    </div>
</div>
<form method="POST">
    <h3 align="center">Login</h3>
    <div class="form-group">
        <label for="email">Username</label>
        <input type="text" , class="form-control" id="email" name="email" placeholder="Enter username" />
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" , class="form-control" id="password" name="password" placeholder="Enter password" />
    </div>
    <br />
    <div class="row">
        <div class="col">
            <button type="submit" class="btn btn-primary" name="action" value="submit">Submit</button>
        </div>
        <div class="col">
            <div class="align-self-end">
                <button type="submit" class="btn btn-secondary" name="action" value="signup">Sign Up</button>
            </div>
        </div>
    </div>

</form>
{% endblock %}