{% extends "base.html" %} {% block title %}Upload{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Check out the new recs!</h1>
    <hr class="my-4">
    <h2 class="lead">The table below shows which conditions to use for your next experiment(s). Performing these
        experiments will help you to hone in on the optimized target value you inputted on the previous page.
        Below the table is a graph. Here, the orange points are web-BO's predictions for what the target value
        will be for the experiments suggested in the table. The next step is to go to the lab and get some results
        - click the button at the bottom of this page when you're ready!</h2>
    </br>

    <div class="row">
        <table class="data" style="border-collapse: collapse; width: 100%;">
            <thead>
                <tr>
                    {% for title in titles %}
                    <th style="border: 1px solid black; padding: 10px;">{{ title }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for index, row in df.iterrows() %}
                <tr>
                    {% for column in df.columns %}
                    {% if column != target_name %}
                    <td style="border: 1px solid black;">{% if column == target %} <div
                            style="background-color: rgb(142, 142, 226);">
                            {{ row[column] }}</div> {% else %}{{ row[column] }}{% endif %}
                    </td>
                    {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    </br>
    <div id="plot"></div>
    <script>
        var graphs = {{ graphJSON | safe }};
        Plotly.newPlot('plot', graphs);
    </script>
    </br>
    <form method="POST">
        <div class="row">
            <button type="submit" class="btn btn-primary btn-lg" name="action" value="add">Add measurements!</button>
        </div>
    </form>
</div>

{% endblock %}