{% extends "base.html" %}
{% block title %}Tutorial guide{% endblock %}
{% block content %}

<style>
    
    .sidebar {
        position: fixed;
        top: 76px; 
        left: 0;
        width: 200px; 
        background-color: #c1c5c9; 
        overflow-x: hidden;
        padding-top: 0px;
        color: black;
        border-top-right-radius: 12px; 
        border-bottom-right-radius: 12px; 
    }

    .sidebar .nav-link {
        color: black; 
    }

    .content {
        margin-left: 50px; 
        margin-right: 50px; 
        padding: 20px; 
    }

    .jumbotron {
        padding-top: 20px;
        padding-bottom: 20px; 
        border-radius: 12px; 
        
    }

    .custom-svg-line {
        width: 100%;
        height: 20px; 
    }

    .code-box {
        background-color: #ffffff; 
        padding: 10px; 
        border-radius: 8px; 
        display: inline-block; 
        cursor: pointer;
        width: 100%;
        max-width: 100%; 
        box-sizing: border-box; 
        position: relative; 
        margin-bottom: 20px; 
    }

    .copy-icon {
        position: absolute;
        left: 830px; 
        top: 8px; 
        display: inline-block;
        background-color: #dddddd;
        border-radius: 6px;
        padding: 3px;
        cursor: pointer;
        color: #555555;
        width: 35px;
        height: 30px;
        text-align: center;
    }

    .copy-icon img {
        width: 20px; 
        height: 20px;
        vertical-align: middle;
        margin-right: 0px; 
    }
</style>



<div class="sidebar">
    <nav class="nav flex-column">
        <a class="nav-link" href="#Home_page">Home page</a>
        <a class="nav-link" href="#Optimisation_case_study">Optimisation case study</a>
        <a class="nav-link" href="#Uploading_a_dataset">Uploading a dataset</a>
        <a class="nav-link" href="#Setting_up_your_experiment">Setting up your experiment</a>
        <a class="nav-link" href="#Getting_recommendations_&_adding_measurements">Getting recommendations & adding measurements</a>
        <a class="nav-link" href="#Downloading_results">Downloading results</a>
        <a class="nav-link" href="#video_tutorial">Video tutorial</a>
        <a class="nav-link" href="#Frequently_Asked_Questions_(FAQs)">Frequently Asked Questions (FAQs)</a>
        
    </nav>
</div>

<div class="content">
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4 text-center">Tutorial</h1>
            <hr>

            <div class="row">
                <div class="col-md-7">
                    </br>
                    <h5> <em>Welcome to the Web-BO tutorial page!</em> </h5>
                    </br>
                    <p>This guide will take you through all the steps to set up and run optimisations using Web-BO, including uploading data, defining experiments, adding measurements, and downloading results. </p>
                    <br>
                    <p> For further clarification, a <b>video tutorial</b> is available at the end of this guide, along with a frequently asked questions (<b>FAQs</b>) section.</p>
                </div>
                <div class="col-md-5 d-flex justify-content-center align-items-center">
                    <img src="{{ url_for('static', filename='fig1_overview_t8.png') }}" class="img-fluid" alt="Description of the image" style="max-width: 100%; height: auto; float: right; margin-top: -55px;">
                </div>
            </div>
            <hr>

            <h2 id="Home_page" class="text-left"><u>Home page</u></h2>
            <div class="col-md-12">
                <br>
                <p>From the <b>Home Page</b> you can navigate to various sections of Web-BO:</p>

                <div class="row">
                    <div class="col-md-7">
                        <ul> 
                            <li><em><b>Explanations:</b></em> Access tutorials, a case study, and additional explanations.</li>
                            <br>
                            <li><em><b>Datasets:</b></em> Upload and manage your datasets.</li>
                            <br>
                            <li><em><b>Experiments:</b></em> Set up new experiments and view those currently in progress.</li>
                            <br>
                            <li><em><b>Reset:</b></em> Reset the database associated with your user.</li>
                        </ul>
                    </div>
                    <div class="col-md-5 d-flex justify-content-center align-items-center">
                        <img src="{{ url_for('static', filename='home_page_annotated.png') }}" class="img-fluid" alt="Description of the image" style="max-width: 100%; height: auto;">
                    </div>
                </div>
            </div>
            <hr>

            <h2 id="Optimisation_case_study" class="text-left"><u>Optimisation case study</u></h2>
            <div class="row">
                <div class="col-md-12">
                    <br>
                    <p>We recommend that you start by exploring the <b>optimisation case study</b> provided. This will guide you through the basics of Web-BO using a sample dataset.</p>

                    <ol>
                        <li>
                            <div class="row">
                                <div class="col-md-7">
                                    <b>Navigate to the case study:</b>
                                    <ul>
                                        <li>Press the <em>Explore!</em> button on the home page, and read through the case study description.</li>
                                    </ul>
                                </div>
                                <div class="col-md-5 d-flex justify-content-center align-items-center">
                                    <img src="{{ url_for('static', filename='explore.png') }}" class="img-fluid" alt="Description of the image" style="max-width: 40%; height: auto;">
                                </div>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div class="row">
                                <div class="col-md-7">
                                    <b>Add the sample-reizman-suzuki Dataset:</b>
                                    <ul>
                                        <li>Scroll to the bottom of the case study pop-up.</em></li>
                                        <li>Select <em>'Single Objective'</em> or <em>'Multi Objective'</em> to explore the correct dataset for your desired optimisation case study.</li>
                                        <li>Your chosen dataset will be added to the <em>Datasets</em> area of the home page. </li>
                                    </ul>
                                </div>
                                <div class="col-md-5 d-flex justify-content-center align-items-center">
                                    <img src="{{ url_for('static', filename='name_casestudy_dataset.png') }}" class="img-fluid" alt="Description of the image" style="max-width: 60%; height: auto;">
                                </div>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div class="row">
                                <div class="col-md-7">
                                    <b>Explore Dataset Features:</b>
                                    <ul>
                                        <li>Navigate to the <em>Datasets</em> area of the home page and select the <em>sample-reizman-suzuki</em> dataset to load it.</li>
                                        <li>Identify the different variables in the parameter space and understand their roles.</li>
                                    </ul>
                                </div>
                                <div class="col-md-5 d-flex justify-content-center align-items-center">
                                    <img src="{{ url_for('static', filename='sample_dataset.png') }}" class="img-fluid" alt="Description of the image" style="max-width: 65%; height: auto;">
                                </div>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div class="row">
                                <div class="col-md-7">
                                    <b>Getting recommendations:</b>
                                    <ul>
                                        <li>Select <em>Setup your experiment.</em></li>
                                        <li>Follow the methodology in section 5: <em> Getting recommendations & adding measurements</em>. </li>
                                        <li>Note: Web-BO will show the measurements for you to submit, as you are not running the experiment.</li>
                                    </ul>
                                </div>
                                <div class="col-md-5 d-flex justify-content-center align-items-center">
                                    <img src="{{ url_for('static', filename='set_up_case_study.png') }}" class="img-fluid" alt="Description of the image" style="max-width: 60%; height: auto;">
                                </div>
                            </div>
                        </li>
                    </ol>
                </div>
            </div>
            <hr>

            <h2 id="Uploading_a_dataset" class="text-left"><u>Uploading a dataset</u></h2>
            <div class="row">
                <div class="col-md-12">
                    <br>
                    <p>In the <b>Datasets</b> section, you can upload your own datasets to use in Web-BO.</p>
                    <br>
                    
                    <p>Web-BO offers an <b>example dataset</b> in the csv format expected; more information can be found in the FAQs section.</p>
                    <br>
                    <ol>
                        <li>
                            <div class="row">
                                <div class="col-md-7">
                                    <b>Navigate to the Datasets Section:</b>
                                    <ul>
                                        <li>Select <em>Add dataset</em> from the home page.</li>
                                    </ul>
                                </div>
                                <div class="col-md-5 d-flex justify-content-center align-items-center">
                                    <img src="{{ url_for('static', filename='add_dataset.png') }}" class="img-fluid" alt="Overview of adding dataset" style="max-width: 70%; height: auto;">
                                </div>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div class="row">
                                <div class="col-md-7">
                                    <b>Choose upload options:</b>
                                    <ul>
                                        <li><em>CSV File:</em> Select your dataset CSV file from your computer and assign a unique name - see <em>FAQs</em> for formatting advice.</li>
                                        <li><em>DataLab:</em> Provide the relevant information to connect to your Data Lab account.</li>
                                    </ul>
                                </div>
                                <div class="col-md-5 d-flex justify-content-center align-items-center">
                                    <img src="{{ url_for('static', filename='upload_options.png') }}" class="img-fluid" alt="CSV Upload Option" style="max-width: 70%; height: auto;">
                                </div>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div class="row">
                                <div class="col-md-7">
                                    <b>Explore Dataset Features:</b>
                                    <ul>
                                        <li>Navigate to the <em>Datasets</em> area of the home page and select the dataset to load it.</li>
                                        <li>Web-BO will display a breakdown of dataset details, including the variables and summary statistics.</li>
                                    </ul>
                                </div>
                                <div class="col-md-5 d-flex justify-content-center align-items-center">
                                    <img src="{{ url_for('static', filename='select_dataset_explore.png') }}" class="img-fluid" alt="Dataset Features" style="max-width: 65%; height: auto;">
                                </div>
                            </div>
                        </li>
                    </ol>
                </div>
            </div>
            <hr>
            

            <h2 id="Setting_up_your_experiment" class="text-left"><u>Setting up your experiment</u></h2>
            <div class="row">
                <div class="col-md-12">
                    <br>
                    <p>To start an optimisation, set up an experiment using your uploaded dataset:</p>
                    
                    <ol>
                        <li>
                            <div class="row">
                                <div class="col-md-7">
                                    <b>Navigate to Experiments:</b>
                                    <ul>
                                        <li>Go to the <em>Experiments</em> section of the home page and select <em>Add Experiment</em>.</li>
                                    </ul>
                                </div>
                                <div class="col-md-5 d-flex justify-content-center align-items-center">
                                    <img src="{{ url_for('static', filename='add_experiment.png') }}" class="img-fluid" alt="Add Experiment" style="max-width: 70%; height: auto;"> 
                                </div>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div class="row align-items-center">
                                
                                <div class="col-md-7">
                                    <b>Number of Objectives:</b>
                                    <ul>
                                        <li>Choose to create a <em>single-objective</em> or <em>multi-objective</em> optimisation experiment.</li>
                                        <li>For a <em>multi-objective</em> optimisation experiment, you will be prompted to enter the number of targets you wish to optimise.</li>
                                    </ul>
                                </div>
                        
                                
                                <div class="col-md-5 d-flex justify-content-center">
                                    <img src="{{ url_for('static', filename='SO_or_MO_exp.png') }}" class="img-fluid" alt="Add Experiment" style="max-width: 70%; height: auto;">
                                </div>
                            </div>
                        </li>
                        <br>
                        
                        <li>
                            <div class="row">
                                <div class="col-md-7">
                                    <b>Dataset Selection:</b>
                                    <ul>
                                        <li>Choose a dataset from those you have uploaded, give your experiment a unique name, and click <em>Submit Dataset</em>.</li>
                                    </ul>
                                </div>
                                <div class="col-md-5 d-flex justify-content-center align-items-center">
                                    <img src="{{ url_for('static', filename='dataset.png') }}" class="img-fluid" alt="Dataset Selection" style="max-width: 60%; height: auto;"> 
                                </div>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div class="row">
                                <div class="col-md-7">
                                    <b>Parameter Space:</b>
                                
                                    <p>Define the variable type and include additional requested information:</p>
                                    <ul>
                                        <li><em>Categorical:</em> Requires an uploaded csv file - see <em>FAQs</em> section for more details.</li>
                                        <li><em>Integer:</em> Define a range (min. and max. values).</li>
                                        <li><em>Continuous:</em> Define a range (min. and max. values).</li>
                                    </ul>
                                
                                </div>

                                <div class="col-md-5 d-flex justify-content-center align-items-center">
                                    <img src="{{ url_for('static', filename='parameter_space_icon.png') }}" class="img-fluid" alt="Parameter Space" style="max-width: 60%; height: auto;"> 
                                </div>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div class="row">
                                <div class="col-md-7">
                                    <b>Hyperparameter Configuration:</b>
        
                                    <ul>
                                        <li><em>GP Kernel Type:</em> Choose between <em>Matern</em> and <em>Tanimoto</em>.</li>
                                        <li style="margin-top: 0.35em; margin-bottom: 0.25em;"><em>Acquisition Function:</em> Select <em>Expected Improvement</em> or <em>Probability of Improvement</em>.</li>
                                        <li style="margin-top: 0.35em; margin-bottom: 0.25em;"><em>Batch Size:</em> Input the number of experiments to run before recieving new recommendations from Web-BO - see <em>FAQs</em> section for more details </li>
                                        <li style="margin-top: 0.35em; margin-bottom: 0.25em;"><em>Target Variable(s):</em> Select the objective variable(s) you want to optimise - see FAQs section for more details.</li>
                                        <li style="margin-top: 0.35em; margin-bottom: 0.25em;"><em>Optimisation Type(s):</em> Indicate if you want to <em>Maximise</em> or <em>Minimise</em> the target variable(s).</li>
                                        <li style="margin-top: 0.35em; margin-bottom: 0.25em;"><em>Relative Weight (for multi-objective optimisations only):</em> Specify the relative importance of the targets - see <em>FAQs</em> section for more details</li>
                                    </ul>
                                    
                                </div>
                                <div class="col-md-5 d-flex justify-content-center align-items-center">
                                    <img src="{{ url_for('static', filename='hyperparameters.png') }}" class="img-fluid" alt="Hyperparameter Configuration" style="max-width: 59%; height: auto;"> 
                                </div>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div class="row">
                                <div class="col-md-7">
                                    <b>Finalize Setup:</b>
                                    <ul>
                                        <li>Click <em>View experiment</em> to create the experiment.</li>
                                    </ul>
                                </div>
                                <div class="col-md-5 d-flex justify-content-center align-items-center">
                                    <img src="{{ url_for('static', filename='finish.png') }}" class="img-fluid" alt="Finalize Setup" style="max-width: 59%; height: auto;"> 
                                </div>
                            </div>
                        </li>
                    </ol>
                </div>
            </div>
            <hr>
            
            <h2 id="Getting_recommendations_&_adding_measurements" class="text-left"><u>Getting recommendations & adding measurements</u></h2>
            <div class="row">
                <div class="col-md-12">
                    <br>
                    <p>Now that your experiment is set up, start the optimisation by generating <b>recommendations</b> and adding <b>measurements</b>.</p>
                    
                    <ol>
                        <li>
                            <div class="row">
                                <div class="col-md-7">
                                    <b>Get Next Recommendation:</b>
                                    <ul>
                                        <li>Click <em>Get Next Recommendation</em>. Web-BO will suggest values for each variable based on the selected target. The first recommendation (Iteration 1) represents the first trial.</li>
                                    </ul>
                                </div>
                                <div class="col-md-5 d-flex justify-content-center align-items-center">
                                    <img src="{{ url_for('static', filename='get_recommendations.png') }}" class="img-fluid" alt="Get Next Recommendation" style="max-width: 70%; height: auto;"> 
                                </div>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div class="row">
                                <div class="col-md-7">
                                    <b>Run Experiment & Add Measurements:</b>
                                    <ul>
                                        <li>Conduct the experiment using the suggested conditions from Web-BO.</li>
                                        <li>Click <em>Add Measurements</em>:
                                            <ul>
                                                <li>Input the exact conditions used.</li>
                                                <li>Enter the observed target value at these conditions and click <em>Submit Measurements</em>.</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-5 d-flex justify-content-center align-items-center">
                                    
                                     <img src="{{ url_for('static', filename='add_measurements.png') }}" class="img-fluid" alt="Add Measurements" style="max-width: 60%; height: auto;"> 
                                </div>
                            </div>
                        </li>
                        <br>
                        <li>
                            <div class="row">
                                <div class="col-md-7">
                                    <b>Repeat Process:</b>
                                    <ul>
                                        <li>Continue selecting <em>Get Next Recommendation</em> and <em>Add Measurements</em> after each experimental trial until the target is optimised to your satisfaction.</li>
                                    </ul>
                                </div>
                                <div class="col-md-5 d-flex justify-content-center align-items-center">
                                    
                                    <!-- <img src="{{ url_for('static', filename='repeat_process.png') }}" class="img-fluid" alt="Repeat Process" style="max-width: 80%; height: auto;"> -->
                                </div>
                            </div>
                            <br>
                        </li>
                    </ol>
                </div>
            </div>
            <hr>
            
            <h2 id="Downloading_results" class="text-left"><u>Downloading results</u></h2>
            <div class="row">
                <div class="col-md-12">
                    <br>
                    <p>Once the optimisation process is complete, download the <b>final dataset</b>.</p>
                    
                    <ul>
                        <li>
                            <div class="row">
                                <div class="col-md-7">
                                    <b>Scroll to the bottom of the page and click Download Dataset:</b>
                                    <ul>
                                        <li>The file will be saved to your computer’s download folder.</li>
                                    </ul>
                                </div>
                                <div class="col-md-5 d-flex justify-content-center align-items-center">
                                    <img src="{{ url_for('static', filename='download_dataset.png') }}" class="img-fluid" alt="Download Dataset" style="max-width: 60%; height: auto;"> 
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <hr>

        </div>
    </div>
</div>

<div class="content">
<div class="jumbotron">
    <h2 id="video_tutorial" class="text-left"><u>Video tutorial</u></h2>
    <div class="row">
        <div class="col-md-12">
            <br>
            <p>For further clarification on the tutorial above, please watch the following video.</p>
            <br>
            <p>This video will first walk you through the single-optimisation case study demonstration and then show how to add a CSV dataset, define and run an experiment, and download results.</p>
            
            <div class="embed-responsive embed-responsive-16by9">
                <video controls class="embed-responsive-item">
                    <source src="{{ url_for('static', filename='web-BO_video_tutorial_v02.mp4') }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
    </div>
</div>
</div>

<hr>


<div class="content">
    <div class="container">
        <div class="jumbotron">

            <h2 id="Frequently_Asked_Questions_(FAQs)" class="text-left"><u>Frequently Asked Questions (FAQs)</u></h2>
            <div class="col-md-12">
                <br>
                <h4 class="text-left">Where can I access the csv toy dataset?</h4>

                <div class="row">
                    <p>Web-BO offers an example dataset in the csv format expected; this is contained in the toy-dataset directory of the Web-BO <b>GitHub</b> <em>(https://github.com/austin-mroz/webBO)</em>.</p>
                    <div class="col-md-10">
                        <ul> 
                        
                            
                            <li style="margin-top: 0.35em; margin-bottom: 0.25em;">A csv file outlining the options for the <b>categorical variable</b> is included (required for defining the parameter space within experimental set-up).</li>
                            
                            <li style="margin-top: 0.35em; margin-bottom: 0.25em;">In order to use the toy dataset, these files must first be downloaded locally and then uploaded using the <b>csv upload</b> feature in Web-BO</li>
                           
                        </ul>
                    </div>
                </div>
            </div>
            <hr>

            <h4  class="text-left">What is the required format for a input csv dataset? </h4>
                <div class="row">
                    <p>To get the correct file format it is easiest to write your data in an excel spreadsheet, and then save it as a "<b>.csv</b>" file. An example input file (for a dataset) is shown on the right. There are three things to note:</p>
                    <div class="col-md-7">
                        
                        <ul> 
                            <li style="margin-top: 0.35em; margin-bottom: 0.25em;">The file starts in <b>cell A1</b>, with no empty rows or columns above/next it. This ensures that when your data is tabulated there are no empty cells.</li>
                            <li style="margin-top: 0.35em; margin-bottom: 0.25em;">Row 1 will be your <b>column headers</b> in Web-BO, the rows after that your <b>data entries</b>, and each columns is a different variable.
                            <li style="margin-top: 0.35em; margin-bottom: 0.25em;">Row 9 in the image should not be part of your csv file, it is there to show the type of each variable</li>
                        </ul>
                    </div>

                    <div class="col-md-5 d-flex justify-content-center align-items-center">
                        <img src="{{ url_for('static', filename='test_dataset_v01.png') }}" class="img-fluid" alt="general_form_categorical_var" style="max-width: 80%; height: auto;"> 
                    </div>

                </div>
            
            <hr>

            <h4 class="text-left">How do I upload a dataset from my Datalab account?</h4>
                <div class="row" >
                    <p>To Upload a dataset from your Datalab account, select <b>Datalab</b> as your file upload option.</p>

                    
                    <div class="col-md-6">
                        <ul> 
                            
                            <li style="margin-top: 0.35em; margin-bottom: 0.25em;"> You will be required to enter the details of your <b>Datalab</b> account (API Key, Domain, Collection ID, Block ID). </li>
                            <li style="margin-top: 0.35em; margin-bottom: 0.25em;"> <b>Variables</b> must be indicated in the general format: 'Variable 1, Variable 2, ...'
                            
                        </ul>

                        
                    </div>
                    <div class="col-md-6">
                        <img src="{{ url_for('static', filename='Datalab_connect.png') }}" class="img-fluid" alt="general_form_categorical_var" style="max-width: 100%; height: auto;"> 
                    </div>
                    <p>If you require <b>further guidance</b> on connecting to a Datalab account, reach out to a member of the Web-BO team. </p>
                </div>
            <hr>
                
                <h4>What input is required when setting up an experiment involving a categorical variable?</h4>
                <div class="row">
                    <p>When defining the parameter space (within experimental setup), a <b>csv file</b> is required to describe the options that comprise the optimisation space.</p>
                    <div class="col-md-7">
                        <ul> 
                            <li style="margin-top: 0.35em; margin-bottom: 0.25em;">To get the correct file format it is easiest to write your data in an excel spreadsheet, and then save it as a ".csv" file.</li>
                            <li style="margin-top: 0.35em; margin-bottom: 0.25em;">This csv file should take the <b>general format</b> shown on the right, for the categorical variable of solvents.</li>
                        </ul>
                    </div>

                    <div class="col-md-5 d-flex justify-content-center align-items-center">
                        <img src="{{ url_for('static', filename='general_form_categorical_var.png') }}" class="img-fluid" alt="general_form_categorical_var" style="max-width: 15%; height: auto;"> 
                    </div>

                </div>
            
            <hr>
            <h4>Selecting targets: What types of variables can be optimised?</h4>
                <div class="row">
                    <div class="col-md-10">
                        <ul> 
                            <li style="margin-top: 0.35em; margin-bottom: 0.25em;">Web-BO can only optimise <b>numerical targets</b>. </li>
                            <li style="margin-top: 0.35em; margin-bottom: 0.25em;">This means that only variables defined as <b>integer</b> or <b>continuous</b> variables in the parameter space can be optimised.</li>
                        </ul>
                    </div>
                </div>
            <hr>
            <h4>What is batch size?</h4>
                <div class="row">
                    <div class="col-md-10">
                        <ul> 
                            <li style="margin-top: 0.35em; margin-bottom: 0.25em;">Batch size describes the <b>number of experiments</b> you wish to run before recieving new recommendations from Web-BO. </li>
                            <li style="margin-top: 0.35em; margin-bottom: 0.25em;">For example, a batch size of 2 means Web-BO will provide 2 sets of initial conditions to test, then, based on those experimental results, it will generate the next 2 sets.</li>
                        </ul>
                    </div>
                </div>
            <hr>

            <h4>What is relative weight?</h4>
                <div class="row">
                    <div class="col-md-10">
                        <ul> 
                            <li style="margin-top: 0.35em; margin-bottom: 0.25em;">Relative weight describes the <b>relative importance</b> of the targets for a multi-objective optimisation experiment. </li>
                            <li style="margin-top: 0.35em; margin-bottom: 0.25em;">Weight values must be positive numbers and will be normalised, so only their relative magnitudes matter.</li>
                        </ul>
                    </div>
                </div>
            <hr>
            
            
        </div>
        </div>
    </div>
</div>    

    

{% endblock %}